################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/esolang_files/testlexer.py
/esolang_files/main.py
