################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/esolang_files/testlexer.py
/esolang_files/main.py
/scripts/cv_r_extractor.slang
/scripts/humidity_logger.slang
/scripts/get_log_with_error.slang
/scripts/search_logs_for_specific_error.slang
/scripts/pressure_checker.slang
/scripts/avg_channel_devs.slang
/scripts/get_pressure_timepoints_elysion.slang
/scripts/get_weights_from_lvk.slang
